In [10]:
import pandas as pd
import numpy as np
import tensorflow

In [11]:
customer_profile = pd.read_csv("dataset/customer_social_profiles - customer_social_profiles.csv")
customer_transactions = pd.read_csv("dataset/customer_transactions - customer_transactions.csv")
customer_profile.head()

,customer_id_new,social_media_platform,engagement_score,purchase_interest_score,review_sentiment
0,A178,LinkedIn,74,4.9,Positive
1,A190,Twitter,82,4.8,Neutral
2,A150,Facebook,96,1.6,Positive
3,A162,Twitter,89,2.6,Positive
4,A197,Twitter,92,2.3,Neutral

In [12]:
customer_transactions.head()

,customer_id_legacy,transaction_id,purchase_amount,purchase_date,product_category,customer_rating
0,151,1001,408,2024-01-01,Sports,2.3
1,192,1002,332,2024-01-02,Electronics,4.2
2,114,1003,442,2024-01-03,Electronics,2.1
3,171,1004,256,2024-01-04,Clothing,2.8
4,160,1005,64,2024-01-05,Clothing,1.3

In [13]:
# clean customer_profile dataset
customer_profile['customer_id_new'] = customer_profile['customer_id_new'].astype(str).str.replace(r'^A', '', regex=True)
customer_profile['customer_id_new'] = customer_profile['customer_id_new'].astype(int)
customer_profile.head()

,customer_id_new,social_media_platform,engagement_score,purchase_interest_score,review_sentiment
0,178,LinkedIn,74,4.9,Positive
1,190,Twitter,82,4.8,Neutral
2,150,Facebook,96,1.6,Positive
3,162,Twitter,89,2.6,Positive
4,197,Twitter,92,2.3,Neutral

In [ ]:
# merge datasets
merged_df = pd.merge(customer_profile, customer_transactions, left_on='customer_id_new', right_on='customer_id_legacy', how='inner')
merged_df.drop(columns=['customer_id_legacy'], inplace=True)

In [15]:
merged_df.head()

,customer_id_new,social_media_platform,engagement_score,purchase_interest_score,review_sentiment,transaction_id,purchase_amount,purchase_date,product_category,customer_rating
0,190,Twitter,82,4.8,Neutral,1031,333,2024-01-31,Groceries,3.8
1,190,Twitter,82,4.8,Neutral,1140,401,2024-05-19,Sports,4.9
2,150,Facebook,96,1.6,Positive,1042,389,2024-02-11,Sports,NaN
3,150,Facebook,96,1.6,Positive,1046,177,2024-02-15,Books,3.6
4,162,Twitter,89,2.6,Positive,1079,101,2024-03-19,Books,4.2

In [20]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id_new          219 non-null    int64
 1   social_media_platform    219 non-null    object
 2   engagement_score         219 non-null    int64
 3   purchase_interest_score  219 non-null    float64
 4   review_sentiment         219 non-null    object
 5   transaction_id           219 non-null    int64
 6   purchase_amount          219 non-null    int64
 7   purchase_date            219 non-null    object
 8   product_category         219 non-null    object
 9   customer_rating          200 non-null    float64
dtypes: float64(2), int64(4), object(4)
memory usage: 17.2+ KB

In [21]:
merged_df.describe

<bound method NDFrame.describe of      customer_id_new social_media_platform  engagement_score  \
0                190               Twitter                82
1                190               Twitter                82
2                150              Facebook                96
3                150              Facebook                96
4                162               Twitter                89
..               ...                   ...               ...
214              189               Twitter                59
215              189               Twitter                59
216              189               Twitter                59
217              162               Twitter                71
218              162               Twitter                71

     purchase_interest_score review_sentiment  transaction_id  \
0                        4.8          Neutral            1031
1                        4.8          Neutral            1140
2                        1.6         Positive            1042
3                        1.6         Positive            1046
4                        2.6         Positive            1079
..                       ...              ...             ...
214                      3.8          Neutral            1057
215                      3.8          Neutral            1081
216                      3.8          Neutral            1149
217                      4.8         Positive            1079
218                      4.8         Positive            1116

     purchase_amount purchase_date product_category  customer_rating
0                333    2024-01-31        Groceries              3.8
1                401    2024-05-19           Sports              4.9
2                389    2024-02-11           Sports              NaN
3                177    2024-02-15            Books              3.6
4                101    2024-03-19            Books              4.2
..               ...           ...              ...              ...
214              282    2024-02-26        Groceries              3.2
215              344    2024-03-21            Books              NaN
216              178    2024-05-28           Sports              3.0
217              101    2024-03-19            Books              4.2
218              343    2024-04-25            Books              1.4

[219 rows x 10 columns]>

In [22]:
merged_df.shape

(219, 10)

In [ ]:
merged_df.to_csv('merged_customer_data.csv', index=False)